@import '@/assets/scss/util.scss';

#PostingPage {
  background-color: #f3f3f3;
  height: calc(100vh - 80px - 44px);
  overflow: scroll;
  .panel-wrp {
    display: flex;
    width: 1070px;
    margin: 40px auto;
    .detail-panel {
      width: 582px;
      height: max-content;
      padding: 24px;
      background: #ffffff;
      border: 1px solid #e7e7e7;
      box-shadow: 0px 0px 4px rgba(0, 52, 138, 0.04),
        0px 8px 16px rgba(0, 52, 138, 0.08);
      border-radius: 12px;
      .top {
        display: flex;
        .d-day {
          width: max-content;
          height: 30px;
          line-height: 30px;
          padding: 0 14px;
          font-size: 0.88rem;
          font-weight: 600;
          color: #3e82f1;
          text-align: center;
          background: #ffffff;
          border: 1px solid #3e82f1;
          box-shadow: 0px 0px 4px rgba(0, 52, 138, 0.04),
            0px 4px 8px rgba(0, 52, 138, 0.06);
          border-radius: 24px;
        }
        .img-wrp {
          margin-left: 16px;
          img {
            width: 36px;
            height: 36px;
            cursor: pointer;
          }
        }
        div:nth-child(2) {
          flex-grow: 1;
          text-align: right;
        }
      }
      .title {
        margin-top: 16px;
        font-size: 1.38rem;
        font-weight: 600;
      }
      .info {
        display: flex;
        flex-wrap: wrap;
        gap: 0px 12px;
        height: 54px;
        margin-top: 42px;
        .left {
          height: 30px;
          line-height: 30px;
          padding: 0 14px;
          font-size: 0.88rem;
          font-weight: 500;
          color: #484848;
          background: #f5f5f5;
          border-radius: 16px;
          strong {
            font-weight: 500;
            color: #181818;
          }
        }
        .gap {
          flex-grow: 1;
        }
        .right {
          display: flex;
          line-height: 18px;
          font-size: 0.75rem;
          font-weight: 500;
          color: #a1a2a3;
          img {
            width: 16px;
            height: 16px;
            margin-right: 8px;
          }
        }
      }
      .content {
        border-top: 1px solid #e7e7e7;
        padding: 24px 8px;
        font-size: 0.88rem;
        color: #484848;
      }

      .content-img {
        margin: 1vh 2vmax;
        width: 70%;
        display: grid;
        row-gap: 1vh;

        .postImg {
          width: 100%;
        }
      }
    }
    .comment-panel {
      width: 410px;
      min-height: 250px;
      padding: 24px;
      margin-left: 30px;
      background: #ffffff;
      border: 1px solid #e7e7e7;
      box-shadow: 0px 0px 4px rgba(0, 52, 138, 0.04),
        0px 8px 16px rgba(0, 52, 138, 0.08);
      border-radius: 12px;
      .top {
        display: flex;
        div:first-child {
          margin-right: 12px;
          img {
            width: 32px;
            height: 32px;
            margin-top: 7px;
            border-radius: 30px;
          }
        }
        div:nth-child(2) {
          flex-grow: 1;
          line-height: 44px;
          font-size: 0.88rem;
          font-weight: 500;
          color: #737373;
        }
        .contact {
          width: 121px;
          height: 44px;
          line-height: 44px;
          font-size: 0.88rem;
          font-weight: 600;
          color: #ffffff;
          text-align: center;
          background: #ff8a00;
          border-radius: 10px;
        }
        .delete-comment {
          line-height: 44px;
          img {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }
      }
      .bottom {
        margin-top: 32px;
        .comment-count {
          font-size: 0.88rem;
          font-weight: 500;
          strong {
            color: #3e82f1;
          }
        }
        .comment-wrp {
          position: relative;
          .comment-input {
            width: 362px;
            height: 106px;
            padding: 15px;
            margin-top: 14px;
            background: #fafafa;
            border-radius: 8px;
            border: none !important;
            resize: none;
          }
          .comment-input:focus {
            outline: none;
          }
          .comment-input::placeholder {
            color: #c8c8c8;
          }
          .comment-register {
            position: absolute;
            margin-top: -50px;
            margin-left: 260px;
            width: 77px;
            height: 33px;
            line-height: 33px;
            padding: 0 4px;
            font-size: 0.88rem;
            font-weight: 500;
            color: #737373;
            text-align: center;
            background: #ffffff;
            mix-blend-mode: normal;
            border: 1px solid #e7e7e7;
            border-radius: 32px;
            cursor: pointer;
          }
        }
      }
      .comment-list {
        .comment {
          width: 360px;
          min-height: 102px;
          padding: 16px;
          .comment-writer {
            display: flex;
          }
          .comment-content {
            margin-top: 24px;
            margin-left: 13px;
            color: #454545;
            font-size: 0.88rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}

#m-PostingPage {
  main {
    height: 100%;
    font-size: 5vmin;
    .m-detail-header {
      height: 7vmax;
      display: grid;
      background-color: #fafafa;
      grid-template: 'arrow title' 1fr / 1fr 5fr;
      .m-close {
        width: 3vw;
        padding-left: 5vw;
        grid-area: arrow;
        display: flex;
        align-self: center;
      }
    }

    .m-detail-container::-webkit-scrollbar {
      display: none;
    }

    .m-detail-container {
      height: 70vh;
      overflow: scroll;
      background-color: #f3f3f3;
      display: flex;
      flex-direction: column;
      align-items: center;

      .m-detail-content {
        width: calc(100% - 64px);
        height: max-content;
        background-color: #ffffff;
        box-shadow: 0px 0px 4px rgba(0, 52, 138, 0.04),
          0px 4px 8px rgba(0, 52, 138, 0.06);
        border-radius: 12px;
        margin: 20px 16px;
        padding: 16px;

        .m-detail-content-header {
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid #e7e7e7;
          grid-template:
            'writer' 2fr
            'title' 2fr
            'tags' 2fr
            '.' 1fr / 1fr;

          .d-day {
            width: max-content;
            height: 30px;
            line-height: 30px;
            padding: 0 14px;
            font-size: 0.88rem;
            font-weight: 600;
            color: #3e82f1;
            text-align: center;
            background: #ffffff;
            border: 1px solid #3e82f1;
            box-shadow: 0px 0px 4px rgba(0, 52, 138, 0.04),
              0px 4px 8px rgba(0, 52, 138, 0.06);
            border-radius: 24px;
          }

          .writer {
            color: #a3a3a3;
            font-size: 0.79rem;
            grid-area: writer;
            align-self: flex-end;
            padding-top: 15px;

            @include tablet {
              font-size: 18px;
            }
          }

          .title {
            color: #252a31;
            font-style: normal;
            font-weight: 600;
            font-size: 1.14rem;
            grid-area: title;
            padding: 10px 0px;

            @include tablet {
              font-size: 24px;
              padding: 18px 0px;
            }
          }

          .tags-wrp {
            display: flex;
            justify-content: space-between;

            .tags {
              grid-area: tags;
              display: flex;
              align-self: flex-end;
              flex-wrap: wrap;
              font-size: 0.79rem;
              font-style: normal;
              display: flex;
              align-items: center;
              gap: 0em 1em;

              @include tablet {
                font-size: 17px;
                gap: 0px 16px;
              }

              .tag {
                padding: 0.1em 0.6em;
                background-color: #f3f3f3;
                border-radius: 16px;
                text-align: center;

                @include tablet {
                  padding: 8px 14px;
                }

                &.d-day {
                  color: #3e82f1;
                  font-weight: 600;
                }
              }
            }
          }
        }

        .m-detail-content-body {
          // overflow: scroll;
          // height: 45vh;
          line-height: 1.6;
          font-size: 1rem;
          color: #454545;
          // margin: 1vh 2vmax;

          @include tablet {
            font-size: 20px;
          }

          .content > ::v-deep mark #text {
            width: 50px !important;

            #text {
              color: red !important;
              width: 50px;
            }
          }

          .m-content-text {
            font-weight: 400;
            line-height: 160%;
            color: #454545;
          }

          .m-content-img {
            width: 70vmin;
            display: grid;
            row-gap: 1vh;

            .m-postImg {
              width: 70vmin;
            }
          }
          .m-postImg:nth-of-type(1) {
            margin-top: 1vh;
          }
        }

        .m-detail-content-footer {
          margin: 0vh 2vmax;
          height: 5vmin;
          display: flex;
          justify-content: flex-end;
          align-self: flex-end;
          line-height: 26px;
          font-size: 0.6em;
          font-weight: 500;
          color: #a1a2a3;

          @include tablet {
            font-size: 22px;
            height: 33px;
            line-height: 33px;
          }

          @include lands-tablet {
            font-size: 18px;
          }

          .views-icon {
            width: 16px;
            height: 16px;
            margin-top: 5px;
            margin-right: 8px;

            @include tablet {
              width: 24px;
              height: 24px;
              margin-top: 6px;
              margin-right: 12px;
            }
          }
        }
      }

      .m-detail-transition {
        display: flex;
        height: 5vmax;
        align-items: center;

        .m-trans-text {
          font-size: 0.75em;
          letter-spacing: -0.005em;
          font-weight: 500;
          padding-right: 0.2em;
        }

        .m-trans-icon {
          padding-left: 0.2rem;
        }
      }
    }
    .m-detail-footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
      justify-items: start;
      align-content: center;
      // width: 100%;
      background-color: #ffffff;
      box-shadow: 0px 0px 4px rgba(0, 52, 138, 0.04), 0px 0px 0px #ffffff;
      height: 10vmax;
      border-radius: 20px 20px 0px 0px;
      padding: 0 16px;

      @include lands-mobile {
        display: none;
      }

      @include lands-tablet {
        height: 70px;
      }

      .m-comment-posting-toggle {
        // margin-left: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60vw;
        height: 6vh;
        line-height: 44px;
        border: 1px solid #efefef;
        border-radius: 8px;
        text-align: center;
        font-size: 16px;
        color: #a3a3a3;
        background-color: #fafafa;
        cursor: pointer;

        @include tablet {
          font-size: 23px;
        }

        .m-img-wrp {
          text-align: center;
          width: 100%;
          .comment-img {
            width: 18px;
            height: 18px;
            margin-right: 5px;
            vertical-align: middle;
          }
          .detail-img {
            width: 14px;
            height: 20px;
            margin-right: 5px;
            vertical-align: middle;
          }
          span {
            color: #181818;
          }
          strong {
            color: #005b9a;
          }
        }
      }

      img {
        width: 40px;

        @include tablet {
          width: 60px;
        }
      }
    }

    .m-comment-container {
      height: 70vh;
      overflow: scroll;
      .m-detail-transition {
        display: grid;
        grid-template-columns: 107fr 22fr 168fr;
        height: 5vh;
        align-items: center;

        .m-trans-text {
          font-size: 0.75em;
          letter-spacing: -0.005em;
          font-weight: 500;
        }

        .m-trans-icon {
          padding-left: 5vmin;
        }
      }

      .m-comment-list::-webkit-scrollbar {
        display: none;
      }

      .m-comment-list {
        // display: grid;
        height: calc(100% - 196px);
        padding: 20px 16px;
        overflow: scroll;
        // justify-content: center;
        // grid-template-columns: 81vw;
        // grid-auto-flow: row;
        // grid-auto-rows: minmax(12vh, max-content);
        // row-gap: 2vh;
      }

      .m-comment {
        min-height: 92px;
        padding: 12px 16px;
        background-color: #ffffff;
        border-radius: 10px;
        margin-bottom: 15px;
      }

      .m-profile-info {
        display: flex;
        line-height: 30px;
        font-size: 1rem;
        color: #737373;
        justify-content: space-between;

        .m-profile-info-main {
          display: flex;

          .m-profile-img {
            width: 30px;
            height: 30px;
            margin-right: 8px;
            border-radius: 100%;
          }
        }

        .m-close-img {
          width: 6vmin;
        }
      }

      .m-comment-content {
        padding-top: 4px;
        color: #454545;
        font-size: 1rem;
        line-height: 1.4;
      }

      .m-comment-wrp {
        margin: 16px 16px 16px 16px;
        height: 124px;
        font-size: 1rem;
        .m-comment-input {
          width: calc(100% - 32px);
          height: calc(100% - 32px);
          padding: 16px;
          background: #fafafa;
          border-radius: 8px;
          border: none !important;
          // resize: none;
        }
        .m-comment-input:focus {
          outline: none;
        }
        .m-comment-input::placeholder {
          color: #c8c8c8;
        }
        .m-comment-register {
          position: absolute;
          width: 77px;
          height: 38px;
          line-height: 38px;
          right: 30px;
          margin-top: -56px;
          padding: 0 10px;
          font-size: 1rem;
          font-weight: 500;
          color: #737373;
          text-align: center;
          background-color: #ffffff;
          border: 1px solid #e7e7e7;
          border-radius: 32px;
          cursor: pointer;
        }
      }
    }
  }
}

#WhyNotLayout {
  main {
    background-color: #f3f3f3;
  }
}
