@import '@/assets/scss/util.scss';

#MyPage {
  .mypage-wrp {
    width: 970px;
    min-height: 582px;
    margin: 0 auto;
    padding-top: 123px;
    padding-bottom: 30px;
    .close {
      text-align: right;
      img {
        width: 32px;
        height: 32px;
        cursor: pointer;
      }
    }
    .title {
      font-size: 1.38rem;
      font-weight: 500;
      color: #737373;
    }
    .sub-title {
      margin-top: 24px;
      font-size: 2rem;
      font-weight: 600;
      strong {
        color: #3e82f1;
      }
    }
    .img-nickname-grp {
      margin-top: 120px;
      text-align: center;
      .img {
        img {
          border-radius: 24px;
          box-shadow: 0px 0px 4px rgba(0, 52, 138, 0.04),
            0px 4px 8px rgba(0, 52, 138, 0.06);
        }
      }
      .nickname {
        &.selected {
          border: 1px solid #3e82f1;
        }
        display: flex;
        width: 370px;
        height: 56px;
        margin: 32px auto 0 auto;
        font-size: 1rem;
        font-weight: 500;
        color: #454545;
        background: #ffffff;
        border: 1px solid #efefef;
        border-radius: 12px;
        .nickname-left {
          width: 65px;
          height: 18px;
          margin-top: 20px;
          border-right: 1px solid #efefef;
          font-size: 0.88rem;
          color: #c8c8c8;
        }
        div:nth-child(2) {
          line-height: 56px;
          padding-left: 12px;
          text-align: left;
          flex-grow: 1;
          cursor: pointer;
        }
        .edit-pencil {
          img {
            width: 15px;
            height: 23px;
            padding: 6px 10px;
            cursor: pointer;
          }
        }
        .edit-input-wrp {
          .edit-input {
            font-size: 1rem;
            font-weight: 500;
            padding: 12px;
            border: none;
            border-radius: 10px;
          }
          .edit-input:focus {
            outline: none;
          }
        }
        .edit-button-wrp {
          width: 50px;
          height: 28px;
          line-height: 28px;
          margin: 14px 16px;
          background: #f3f3f3;
          border-radius: 16px;
          font-size: 1rem;
          font-weight: 500;
          color: #3e82f1;
          cursor: pointer;
        }
      }
    }
    .email {
      width: 370px;
      height: 56px;
      line-height: 56px;
      margin: 24px auto;
      input {
        width: 100%;
        height: 100%;
        padding-left: 12px;
        font-size: 1rem;
        color: #a3a3a3;
        background: #efefef;
        border-radius: 12px;
        border: none;
        text-align: center;
      }
    }
    .delete-account {
      width: max-content;
      margin: 0 auto;
      padding-top: 20px;
      text-align: center;
      font-size: 1.1rem;
      color: #a3a3a3;
      cursor: pointer;
    }
  }
}

#m-MyPage {
  .m-mypage-wrp {
    padding-top: 5vh;

    .m-mypage-header {
      height: 6vh;
      display: grid;
      grid-template: 'arrow title .' 1fr / 1fr 5fr 1fr;

      .m-close {
        width: 3vw;
        padding-left: 5vw;
        grid-area: arrow;
        display: flex;
        align-self: center;

        @include tablet {
          width: 20px;
          height: 20px;
        }
      }

      .m-title {
        color: #737373;
        grid-area: title;
        display: flex;
        justify-self: center;
        align-self: center;

        @include tablet {
          font-size: 24px;
        }
      }
    }

    .m-mypage-body {
      // background-color: #F3F3F3;
      height: 100vh;
      padding-top: 18vh;
      display: flex;
      flex-direction: column;
      align-items: center;

      .m-profile-img {
        background-color: #ffffff;
        width: 25vw;
        margin-bottom: 3vh;
        box-shadow: 0px 0px 4px rgba(0, 52, 138, 0.04),
          0px 4px 8px rgba(0, 52, 138, 0.06);
        border-radius: 18px;

        @include tablet {
          width: 120px;
        }

        @include lands-tablet {
          width: 120px;
        }

        @include lands-mobile {
          width: 80px;
        }
      }

      .m-sub-title {
        margin-bottom: 3vh;
        .m-sub-title-highlight {
          color: #3e82f1;
        }

        @include tablet {
          font-size: 22px;
        }
      }

      .m-nickname {
        &.m-selected {
          border: 1px solid #3e82f1;
        }

        display: grid;
        margin: 0 16px;
        width: calc(100% - 52px);
        height: 48px;
        margin-bottom: 3vh;
        background-color: #ffffff;
        border-radius: 9999px;
        box-shadow: 0px 0px 4px rgba(0, 52, 138, 0.04),
          0px 8px 16px rgba(0, 52, 138, 0.08);
        grid-template: 'left content right' 1fr / 1fr 4fr 1fr;
        align-items: center;
        padding-left: 20px;

        @include lands-mobile {
          height: 10vh;
        }

        .m-nickname-left {
          grid-area: left;
          color: #c8c8c8;
          border-right: 1px solid #c8c8c8;

          @include tablet {
            font-size: 20px;
          }
        }

        .m-nickname-content {
          text-align: center;
          input {
            width: 100%;
            height: 100%;
            padding-left: 12px;
            font-size: 1rem;
            // color: #a3a3a3;
            // background: #efefef;
            border-radius: 12px;
            border: none;
            text-align: center;
          }
          input:focus {
            outline: none;
          }
          // grid-area: content;
          // padding-left: 3vw;

          @include tablet {
            font-size: 20px;
          }
        }

        .m-edit-button-wrp {
          grid-area: right;
          width: 12vw;
          color: #3e82f1;
          background: #f3f3f3;
          border-radius: 16px;
          text-align: center;
        }
      }

      .m-email {
        background-color: #efefef;
        border-radius: 9999px;
        width: 90%;
        height: 5vh;
        display: flex;
        align-items: center;

        @include lands-mobile {
          height: 10vh;
        }

        input {
          width: 100%;
          color: #a3a3a3;
          text-align: center;
          background-color: #efefef;
          border: none;

          @include tablet {
            font-size: 22px;
          }
        }
      }
      .m-delete-account {
        width: max-content;
        margin: 0 auto;
        padding-top: 30px;
        text-align: center;
        font-size: 1rem;
        color: #a3a3a3;
        cursor: pointer;
      }
    }
  }
}
