$mobile: 767px;
$min-tablet: 768px;
$tablet: 1668px;
$min-desktop: 1669px;
$desktop: 1780px;
$screen: 1781px;

@mixin mobile {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin min-desktop {
  @media (min-width: $min-desktop) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $min-tablet) and (max-width: $tablet) and (min-height: 600px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $min-desktop) and (max-width: $desktop) {
    @content;
  }
}

@mixin screen {
  @media (min-width: $screen) {
    @content;
  }
}

@mixin lands-mobile {
  @media screen and (min-width: 667px) and (max-height: $mobile) and (orientation: landscape) {
    @content;
  }
}

@mixin lands-tablet {
  @media screen and (min-width: $tablet) and (min-height: $mobile) and (orientation: landscape) {
    @content;
  }
}