@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('http://fonts.cdnfonts.com/css/roboto');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Pretendard', Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  color: #181818;
}