@import '@/assets/scss/util.scss';

#Card {
  .pc-env {
    // flex-grow: 1;
    width: 100%;
    height: calc(100vh - 80px - 44px);
    overflow-y: scroll;
    background-color: #f3f3f3;
    .comp-modal {
      position: fixed;
      z-index: 10;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: rgba(24, 24, 24, 0.4);
      .comp-wrp {
        margin: calc(100vh / 3) auto;
        width: 400px;
        height: 208px;
        background-color: #ffffff;
        border-radius: 12px;
        text-align: center;
        .notice {
          padding: 28px 90px;
          line-height: 1.6;
          font-size: 1.13rem;
          strong {
            font-weight: 700;
          }
        }
        .select-wrp {
          display: flex;
          margin: 0 24px;
          border-top: 1px solid #e7e7e7;
          div {
            width: 50%;
            height: 30px;
            line-height: 30px;
            margin: 16px 0;
            cursor: pointer;
          }
          div:first-child {
            color: #e74133;
            border-right: 1px solid #e7e7e7;
          }
          div:nth-child(2) {
          }
        }
      }
    }
    .sts-i-wrp {
      display: flex;
      width: 1070px;
      height: 79px;
      margin: 0 auto;
      padding: 32px;
      color: #005b9a;
      input[type='checkbox' i] {
        width: 16px;
        height: 16px;
        background-color: #005b9a;
      }
      div:first-child {
        flex-grow: 1;
        text-align: right;
      }
      div:nth-child(2) {
        width: max-content;
        height: 22px;
        line-height: 22px;
        font-size: 0.75rem;
        font-weight: 500;
        padding-left: 8px;
      }
    }
    .cards-wrp {
      display: grid;
      grid-gap: 32px;
      padding-top: 40px;
      padding-bottom: 100px;
      margin: 0 auto;
      width: 1070px;
      .card-wrp {
        width: 470px;
        height: 130px;
        padding: 24px;
        background: #ffffff;
        box-shadow: 0px 0px 4px rgba(0, 52, 138, 0.04),
          0px 8px 16px rgba(0, 52, 138, 0.08);
        border: 2px solid #ffffff;
        border-radius: 16px;
        cursor: pointer;
        .card-top {
          display: flex;
          height: max-content;
          .writer-title-wrp {
            flex-grow: 1;
            .writer {
              height: 22px;
              line-height: 22px;
              font-size: 0.81rem;
              font-weight: 500;
              color: #a3a3a3;
            }
            .card-title {
              width: 300px;
              margin-top: 3px;
              margin-bottom: 10px;
              font-size: 1.13rem;
              font-weight: 700;
            }
          }
          .book-mark {
            width: 16px;
            height: 22px;
            img {
              width: 16px;
              height: 22px;
            }
          }
          .sub-menu-btn {
            position: relative;
            width: 20px;
            height: 24px;
            text-align: right;
            img {
              width: 4px;
              height: 24px;
            }
            .sub-menu {
              position: absolute;
              width: 96px;
              height: 98px;
              margin: -30px 30px;
              background-color: #ffffff;
              border: 1px solid #e1e2e3;
              border-radius: 4px;
              div {
                text-align: center;
                height: 32px;
                line-height: 32px;
                font-size: 0.75rem;
                font-weight: 400;
                color: #d05f5f;
                cursor: pointer;
              }
              div:not(div:nth-child(3)) {
                border-bottom: 1px solid #e1e2e3;
                color: #414243;
              }
              div:hover {
                background-color: #f5f5f5;
              }
            }
          }
        }
        .card-middle {
          color: #4d4d4d;
          .content {
            height: 40px;
            // padding-top: 16px;
            font-size: 0.88rem;
          }
        }
        .card-bottom {
          display: flex;
          flex-wrap: wrap;
          gap: 0px 12px;
          .item {
            line-height: 14px;
            padding: 6px 10px;
            background: #f3f3f3;
            border-radius: 16px;
            font-size: 0.88rem;
            text-align: center;
          }
          .comp {
            opacity: 0.5;
          }
          .category-name {
            line-height: 16px;
            padding: 6px 10px;
            background: rgba(62, 130, 241, 0.26);
            border-radius: 16px;
            color: #00348a;
            font-size: 0.88rem;
            text-align: center;
          }
          .d-day {
            font-weight: 600;
            color: #3e82f1;
          }
          .created-day {
            color: #484848;
          }
          .com-tool {
            font-weight: 500;
            color: #484848;
          }
          .rec-cnt {
            font-weight: 500;
            color: #737373;
            strong {
              font-weight: 500;
              color: #181818;
            }
          }
          .gap {
            flex-grow: 1;
          }
          .views {
            display: flex;
            // margin-left: 230px;
            line-height: 26px;
            font-size: 0.75rem;
            font-weight: 500;
            color: #a1a2a3;
            img {
              width: 16px;
              height: 16px;
              margin-top: 5px;
              margin-right: 8px;
            }
          }
        }
      }
      .card-wrp:hover {
        border: 2px solid #3e82f1;
      }

      .comp-card {
        z-index: 10;
        width: 473px;
        height: 137px;
        background-color: rgba(24, 24, 24, 0.7);
        color: #ffffff;
        padding: 24px;
        border-radius: 16px;
        margin-left: -25px;
        margin-top: -155px;
        .close {
          z-index: 10;
          margin: 0 24px 0 455px;
          width: 24px;
          height: 24px;
          img {
            width: 24px;
            height: 24px;
          }
        }
        .notice {
          display: flex;
          width: 110px;
          margin: 50px auto;
          &.mypage {
            margin: 25px auto;
          }
          .check {
            img {
              margin-top: 1.5px;
              width: 28px;
              height: 28px;
            }
          }
          .comp-text {
            margin-left: 8px;
            font-size: 1.25rem;
            font-weight: 700;
          }
        }
      }
      @include mobile {
        width: 500px;
        grid-template-columns: repeat(1, 520px);
        .cards-wrp {
          .card-wrp {
            width: 520px;
            height: 179px;
          }
        }
      }
      @include tablet {
        width: 800px;
        grid-template-columns: repeat(2, 520px);
        .cards-wrp {
          .card-wrp {
            width: 520px;
            height: 179px;
          }
        }
      }
      @include desktop {
        // width: 890px;
        grid-template-columns: repeat(2, 520px);
        .cards-wrp {
          .card-wrp {
            width: 520px;
            height: 179px;
          }
        }
      }
      @include screen {
        // width: 890px;
        grid-template-columns: repeat(2, 520px);
        .cards-wrp {
          .card-wrp {
            width: 520px;
            height: 179px;
          }
        }
      }
    }
  }
  .mobile-env {
    width: 100vw;
    height: calc(100vh - 185px);
    padding-bottom: 30px;
    overflow-y: scroll;
    background-color: #f3f3f3;

    .banner-img {
      height: 80px;

      @include tablet {
        height: 140px;
      }
    }

    .sts-i-wrp {
      display: flex;
      padding: 23px 16px;
      color: #005b9a;
      input[type='checkbox' i] {
        width: 16px;
        height: 16px;
        background-color: #005b9a;

        @include tablet {
          width: 24px;
          height: 24px;
        }
      }
      div:first-child {
        // flex-grow: 1;
        // text-align: right;
      }
      div:nth-child(2) {
        width: max-content;
        height: 22px;
        line-height: 22px;
        font-size: 0.75rem;
        font-weight: 500;
        padding-left: 8px;

        @include tablet {
          height: 33px;
          line-height: 33px;
          font-size: 16px;
        }
      }
    }

    .card-wrp {
      width: calc(100% - 64px);
      height: 110px;
      margin: 0 auto 12px auto;
      padding: 15px;
      position: relative;

      @include tablet {
        width: 600px;
        height: 160px;
        margin: 0 auto 20px auto;
      }

      background: #ffffff;
      box-shadow: 0px 0px 4px rgba(0, 52, 138, 0.04),
        0px 8px 16px rgba(0, 52, 138, 0.08);
      // border: 2px solid #FFFFFF;
      border-radius: 12px;
      .card-top {
        display: flex;
        height: max-content;
        .writer-title-wrp {
          flex-grow: 1;
          .writer {
            height: 22px;
            line-height: 22px;
            font-size: 0.69rem;
            font-weight: 500;
            color: #a3a3a3;

            @include tablet {
              height: 33px;
              line-height: 33px;
              font-size: 15px;
            }
          }
          .card-title {
            width: 290px;
            margin-top: 3px;
            margin-bottom: 6px;
            font-size: 1rem;
            font-weight: 700;

            @include tablet {
              width: 435px;
              margin-top: 4.5px;
              margin-bottom: 9px;
              font-size: 22px;
            }
          }
        }
        .book-mark {
          width: 24px;
          img {
            width: 24px;
          }

          @include tablet {
            width: 22px;
            height: 30px;
            img {
              width: 22px;
              height: 30px;
            }
          }
        }
        .sub-menu-btn {
          position: relative;
          width: 20px;
          height: 24px;
          text-align: right;
          img {
            width: 4px;
            height: 24px;
          }
          .sub-menu {
            position: absolute;
            right: 1px;
            width: 96px;
            height: 98px;
            background-color: #ffffff;
            border: 1px solid #e1e2e3;
            border-radius: 4px;
            div {
              text-align: center;
              height: 32px;
              line-height: 32px;
              font-size: 0.75rem;
              font-weight: 400;
              color: #d05f5f;
              cursor: pointer;
            }
            div:not(div:nth-child(3)) {
              border-bottom: 1px solid #e1e2e3;
              color: #414243;
            }
            div:hover {
              background-color: #f5f5f5;
            }
          }
        }
      }
      .card-middle {
        color: #4d4d4d;
        .content {
          height: 20px;
          font-size: 0.75rem;

          @include tablet {
            height: 30px;
            font-size: 17px;
          }
        }
      }
      .card-bottom {
        display: flex;
        flex-wrap: wrap;
        gap: 0px 12px;
        margin-top: 6px;
        @include tablet {
          gap: 0px 18px;
          margin-top: 9px;
        }
        .item {
          line-height: 14px;
          padding: 6px 10px;
          background: #f3f3f3;
          border-radius: 16px;
          font-size: 0.69rem;
          text-align: center;

          @include tablet {
            line-height: 21px;
            padding: 8px 14px;
            font-size: 15px;
          }
        }
        .comp {
          opacity: 0.5;
        }
        .category-name {
          line-height: 16px;
          padding: 6px 10px;
          background: rgba(62, 130, 241, 0.26);
          border-radius: 16px;
          color: #00348a;
          font-size: 0.69rem;
          text-align: center;
        }
        .d-day {
          font-weight: 600;
          color: #3e82f1;
        }
        .com-tool {
          font-weight: 500;
          color: #484848;
        }
        .rec-cnt {
          font-weight: 500;
          color: #737373;
          strong {
            font-weight: 500;
            color: #181818;
          }
        }
        .gap {
          flex-grow: 1;
        }
        .views {
          display: flex;
          // margin-left: 230px;
          line-height: 26px;
          font-size: 0.75rem;
          font-weight: 500;
          color: #a1a2a3;
          img {
            width: 16px;
            height: 16px;
            margin-top: 5px;
            margin-right: 8px;
          }

          @include tablet {
            line-height: 39px;
            font-size: 16px;

            img {
              width: 20px;
              height: 20px;
              margin-top: 9px;
              margin-right: 12px;
            }
          }
        }
      }
    }

    .nolikes-wrp {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .nolikes-img {
        width: 110px;
        padding-top: 60px;
      }

      .text-1 {
        font-size: 24px;
        font-weight: 600;
        color: #14428D;
        padding-top: 30px;
      }

      .text-2 {
        font-size: 16px;
        font-weight: 400;
        color: #0C2958;
        padding-top: 5px;
      }
    }

    .comp-card {
      z-index: 10;
      position: absolute;
      width: calc(100% - 32px);
      height: 110px;

      @include tablet {
        width: 600px;
        height: 165px;
      }

      background-color: rgba(24, 24, 24, 0.7);
      color: #ffffff;
      padding: 16px;
      border-radius: 12px;
      margin-left: -16px;
      margin-top: -118px;

      @include tablet {
        margin-top: -168px;
      }

      .close {
        z-index: 10;
        float: right;
        img {
          width: 24px;
          height: 24px;
        }
      }
      .notice {
        display: flex;
        width: 110px;
        margin: 42px auto;

        @include tablet {
          margin: 65px auto;
        }

        .check {
          img {
            margin-top: 1.5px;
            width: 28px;
            height: 28px;
          }
        }
        .comp-text {
          margin-left: 8px;
          font-size: 1.25rem;
          font-weight: 700;
        }
      }
    }
  }
}
