@import '@/assets/scss/util.scss';

.category-wrp {
}

.category-wrp-m {
  &.true {
    width: 100vw;
    background-color: rgba(24, 24, 24, 0.4);
    height: 100vh;
  }
  #Category {
    width: 228px;
    height: 100vh;
    .logo {
      margin: 16px 16px 24px 16px;
      padding: 0px;
      .logo-img {
        margin-top: 6px;
        img {
          width: 125px;
          height: 30px;
        }
      }
    }
    .category {
      .sub-menu-wrp {
        margin: 0 4px;
        padding-bottom: 12px;
        .search {
          width: 204px;
          height: 36px;
          line-height: 32px;
        }

        .menu {
          display: flex;
          height: 16px;
          line-height: 10px;
          font-size: 0.88rem;
        }
      }
      .category-wrp {
        margin-top: 24px;
        .title {
          height: 14px;
          line-height: 14px;
          margin: 14px 0px 14px 6px;
          padding-left: 10px;
          font-size: 0.88rem;
        }
        .sub-title {
          height: 32px;
          line-height: 32px;
          margin-bottom: 6px;
          padding-left: 24px;
          font-size: 0.88rem;
          color: #a3a3a3;
          &.selected {
            color: #181818;
            background: #ebeef1;
            border-radius: 8px;
          }
        }
      }
    }
  }

  @include tablet {
    #Category {
      width: 270px;
      height: 100vh;
      background: #fafafa;
      border-right: 1px solid #e7e7e7;
      overflow-y: scroll;
      .logo {
        width: 90%;
        text-align: center;
        .logo-desc {
          font-size: 0.88rem;
          color: #737373;
        }
        .category-close {
          margin-top: 30px;
          text-align: right;
          img {
            width: 24px;
            height: 24px;
          }
        }
        .logo-img {
          margin-top: 6px;
          img {
            width: 148px;
            height: 36px;
          }
        }
      }
      .category {
        margin: 0 8px;
        .sub-menu-wrp {
          margin: 0 8px;
          padding-bottom: 24px;
          border-bottom: 1px solid #e7e7e7;
          .search {
            display: flex;
            justify-content: space-between;
            width: 222px;
            height: 42px;
            line-height: 40px;
            margin-bottom: 16px;
            background: #ffffff;
            border: 1px solid #e7e7e7;
            border-radius: 8px;
            .search-box {
              display: flex;
              align-self: center;
            }
            .total-search {
              width: 80%;
              flex-grow: 1;
              padding-left: 12px;
              font-size: 1rem;
              color: #a3a3a3;
              border: none !important;
              border-radius: 8px;
              resize: none;
            }
            .total-search:focus {
              outline: none;
            }
            .search-img {
              width: 32px;
              display: flex;
              align-items: center;

              img {
                width: 16px;
                height: 18px;
                cursor: pointer;
              }
            }
          }
          .menu {
            display: flex;
            height: 12px;
            line-height: 16px;
            font-size: 1rem;
            font-weight: 500;
            padding: 16px;
            border-radius: 8px;
            cursor: pointer;
            div:first-child {
              flex-grow: 1;
            }
            div > img {
              width: 6px;
              height: 12px;
            }
          }
          .selected {
            background-color: #ebeef1ea;
          }
          #category-about-us {
            padding-bottom: 24px;
            border-bottom: 1px solid #e7e7e7;
            margin-bottom: 24px;
          }
        }
        .category-wrp {
          margin-top: 24px;
          .title {
            height: 20px;
            line-height: 20px;
            margin: 14px 0px 14px 6px;
            padding-left: 10px;
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;
            &.selected {
              border-left: 2px solid #3e82f1;
            }
          }
          .sub-title {
            height: 42px;
            line-height: 42px;
            padding-left: 24px;
            font-size: 0.88rem;
            font-weight: 500;
            color: #a3a3a3;
            &.selected {
              color: #181818;
              background: #ebeef1;
              border-radius: 8px;
            }
          }
          .sub-title:hover {
            color: #181818;
            background: #ebeef1;
            border-radius: 8px;
            cursor: pointer;
          }
        }
      }
      a {
        text-decoration: none !important;
      }
      .posting-btn {
        width: 165px;
        height: 48px;
        line-height: 48px;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1rem;
        font-weight: 500;
        text-align: center;
        color: #181818;
        background-color: #ffffff;
        border: 2px solid #3e82f1;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}

#Category {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#Category::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
#Category {
  width: 270px;
  height: calc(100vh - 44px);
  background: #fafafa;
  border-right: 1px solid #e7e7e7;
  overflow-y: scroll;
  .logo {
    width: 90%;
    text-align: center;
    .logo-desc {
      font-size: 0.88rem;
      color: #737373;
    }
    .category-close {
      margin-top: 30px;
      text-align: right;
      img {
        width: 24px;
        height: 24px;
      }
    }
    .logo-img {
      margin-top: 6px;
      img {
        width: 148px;
        height: 36px;
      }
    }
  }
  .category {
    margin: 0 8px;
    .sub-menu-wrp {
      margin: 0 8px;
      padding-bottom: 24px;
      border-bottom: 1px solid #e7e7e7;
      .search {
        display: flex;
        justify-content: space-between;
        width: 222px;
        height: 42px;
        line-height: 40px;
        margin-bottom: 16px;
        background: #ffffff;
        border: 1px solid #e7e7e7;
        border-radius: 8px;
        .search-box {
          display: flex;
          align-self: center;
        }
        .total-search {
          width: 80%;
          flex-grow: 1;
          padding-left: 12px;
          font-size: 1rem;
          color: #a3a3a3;
          border: none !important;
          border-radius: 8px;
          resize: none;
        }
        .total-search:focus {
          outline: none;
        }
        .search-img {
          width: 32px;
          display: flex;
          align-items: center;

          img {
            width: 16px;
            height: 18px;
            cursor: pointer;
          }
        }
      }
      .menu {
        display: flex;
        height: 12px;
        line-height: 16px;
        font-size: 1rem;
        font-weight: 500;
        padding: 16px;
        border-radius: 8px;
        cursor: pointer;
        div:first-child {
          flex-grow: 1;
        }
        div > img {
          width: 6px;
          height: 12px;
        }
      }
      .selected {
        background-color: #ebeef1ea;
      }
      #category-about-us {
        padding-bottom: 24px;
        border-bottom: 1px solid #e7e7e7;
        margin-bottom: 24px;
      }
    }
    .category-wrp {
      margin-top: 24px;
      .title {
        height: 20px;
        line-height: 20px;
        margin: 14px 0px 14px 6px;
        padding-left: 10px;
        font-size: 1rem;
        font-weight: 500;
        cursor: pointer;
        &.selected {
          border-left: 2px solid #3e82f1;
        }
      }
      .sub-title {
        height: 42px;
        line-height: 42px;
        padding-left: 24px;
        font-size: 0.88rem;
        font-weight: 500;
        color: #a3a3a3;
        &.selected {
          color: #181818;
          background: #ebeef1;
          border-radius: 8px;
        }
      }
      .sub-title:hover {
        color: #181818;
        background: #ebeef1;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
  a {
    text-decoration: none !important;
  }
  .posting-btn {
    width: 165px;
    height: 48px;
    line-height: 48px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: #181818;
    background-color: #ffffff;
    border: 2px solid #3e82f1;
    border-radius: 8px;
    cursor: pointer;
  }
}
