@import '@/assets/scss/util.scss';

#TopBarM {
  position: sticky;
  top: 0;
  left: 0;
  margin-top: 6vmin;
  .top {
    border-bottom: 2px solid #f3f3f3;
    display: flex;
    justify-content: space-between;
    width: calc(100vw - 36px);
    height: 8vh;
    padding: 0 18px 5px 18px;
    align-items: center;
    .category-toggle {
      width: 8%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 4vmin;
      }

      @include tablet {
        img {
          width: 25px;
        }
      }

      @include lands-tablet {
        img {
          width: 25px;
        }
      }
    }
    .logo-wrp {
      flex-grow: 1;
      text-align: center;
      .title {
        font-size: 0.69rem;
        font-weight: 500;
        color: #737373;

        @include tablet {
          font-size: 17px;
        }
        @include lands-tablet {
          font-size: 17px;
        }
      }
      .logo-img {
        img {
          width: 100px;
        }
      }
    }
    .profile-wrp {
      width: 8vmin;
      .profile {
        img {
          width: 8vmin;
          border-radius: 6px;
          box-shadow: 0px 0px 4px rgba(0, 52, 138, 0.04),
            0px 4px 8px rgba(0, 52, 138, 0.06);
        }

        @include tablet {
          img {
            width: 42px;
          }
        }

        @include lands-tablet {
          img {
            width: 42px;
          }
        }

        .open-account {
          position: absolute;
          z-index: 100;
          right: 50px;
          width: 146px;
          // height: 100px;
          margin-top: 10px;
          background: #ffffff;
          border: 1px solid #efefef;
          border-radius: 8px;
          box-shadow: 0px 0px 4px rgba(0, 52, 138, 0.04),
            0px 4px 8px rgba(0, 52, 138, 0.06);
          .sub-menu-wrp {
            position: relative;
            color: hsl(230, 4%, 90%);
            .sub-menu {
              margin: 8px;
              padding: 14px 8px;
              font-size: 0.88rem;
              font-weight: 500;
              color: #454545;
            }
            .sub-menu:hover {
              background: #f3f7fe;
              border-radius: 6px;
              color: #005b9a;
            }
            .sub-menu::after {
              border-color: #ffffff transparent;
              border-style: solid;
              border-width: 0 6px 8px 6.5px;
              content: '';
              display: block;
              left: 120px;
              position: absolute;
              top: -16px;
              width: 0;
              z-index: 1;
            }

            .sub-menu::before {
              border-color: #eef3fd transparent;
              border-style: solid;
              border-width: 0 6px 8px 6.5px;
              content: '';
              display: block;
              left: 120px;
              position: absolute;
              top: -18px;
              width: 0;
              z-index: 0;
            }
          }
        }
      }
    }
  }
  .bottom {
    height: 7vh;
    background-color: #fafafa;
    .category-wrp {
      display: flex;
      line-height: 62px;
      div:first-child {
        margin-left: 24px;
        font-size: 0.88rem;
        font-weight: 500;
        color: #4d4d4d;
      }
      div:nth-child(2) {
        img {
          width: 8px;
          height: 12px;
          margin: 0 20px;
        }
      }
      div:nth-child(3) {
        font-size: 0.88rem;
        font-weight: 600;
      }

      @include tablet {
        div:first-child {
          font-size: 18px; font-weight: 500;
          color: #4D4D4D;
        }
        div:nth-child(2) {
          img {
            width: 10px; height: 12px;
            margin: 0 20px;
          }
        }
        div:nth-child(3) {
          font-size: 18px; font-weight: 600;
        }
      }
    }
  }
}

#TopBar {
  @include screen {
    .open-account {
      z-index: 100;
      right: 15vw !important;
    }
  }

  width: calc(100vw - 270px);
  height: 80px;
  background: #fafafa;
  // box-shadow: 0px 0px 4px rgba(0, 52, 138, 0.04), 0px 4px 22px rgba(0, 0, 0, 0.06);
  // margin: 0 auto;
  .topbar {
    background-color: #fafafa;
    .topbar-wrp {
      display: flex;
      width: 1064px;
      margin: 0 auto;
      .category-wrp {
        display: flex;
        height: 80px;
        line-height: 80px;
        div:first-child {
          font-size: 1.38rem;
          font-weight: 500;
          color: #4d4d4d;
        }
        div:nth-child(2) {
          img {
            width: 8px;
            height: 12px;
            margin: 0 20px;
          }
        }
        div:nth-child(3) {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }
      .search {
        flex-grow: 1;
      }
      .posting-wrp {
        position: relative;
        .posting-btn {
          margin-top: 31px;
          margin-right: 24px;
          font-size: 0.94rem;
          font-weight: 700;
          cursor: pointer;
          &.not-login {
            color: #484848;
            opacity: 0.3;
          }
        }
        .login-notice {
          position: absolute;
          img {
            width: 199px;
            height: 46px;
            margin-top: 10px;
            margin-left: -70px;
          }
        }
      }
      .login {
        height: 18px;
        padding-left: 24px;
        margin-top: 31px;
        margin-right: 32px;
        font-size: 0.94rem;
        font-weight: 700;
        color: #391b1b;
        border-left: 1px solid #d9d9d9;
        cursor: pointer;
      }
      .logined {
        padding-top: 31px;
        margin-right: 32px;
        font-size: 0.94rem;
        font-weight: 700;
        color: #391b1b;
      }
      .profile {
        padding-top: 24px;
        img {
          width: 32px;
          height: 32px;
          border: 1px solid #d9d9d9;
          border-radius: 8px;
          cursor: pointer;
        }
        .open-account {
          z-index: 100;
          position: absolute;
          right: 50px;
          width: 146px;
          // height: 100px;
          margin-top: 10px;
          background: #ffffff;
          border: 1px solid #efefef;
          border-radius: 8px;
          box-shadow: 0px 0px 4px rgba(0, 52, 138, 0.04),
            0px 4px 8px rgba(0, 52, 138, 0.06);
          .sub-menu-wrp {
            position: relative;
            color: hsl(230, 4%, 90%);
            .sub-menu {
              margin: 8px;
              padding: 14px 8px;
              font-size: 0.88rem;
              font-weight: 500;
              color: #454545;
            }
            .sub-menu:hover {
              background: #f3f7fe;
              border-radius: 6px;
              color: #005b9a;
            }
            .sub-menu::after {
              border-color: #ffffff transparent;
              border-style: solid;
              border-width: 0 6px 8px 6.5px;
              content: '';
              display: block;
              left: 120px;
              position: absolute;
              top: -16px;
              width: 0;
              z-index: 1;
            }

            .sub-menu::before {
              border-color: #eef3fd transparent;
              border-style: solid;
              border-width: 0 6px 8px 6.5px;
              content: '';
              display: block;
              left: 120px;
              position: absolute;
              top: -18px;
              width: 0;
              z-index: 0;
            }
            // .sub-menu:after {
            //   content: '';
            //   position: absolute;
            //   top: 0;
            //   left: 86%;
            //   width: 0;
            //   height: 0;
            //   border-color: #eef3fd transparent;
            //   border-style: solid;
            //   // border: 20px solid transparent;
            //   border-width: 0 6px 8px 6.5px;
            //   border-bottom-color: #ffffff;
            //   top: -7px;
            //   // border-top: 0;
            //   // margin-left: -20px;
            //   // margin-top: -15px;
            // }
          }
        }
      }
    }
  }
}
