#ApplyPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .top {
    display: flex;
    height: 53px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid #ebeef0;
    .side {
      width: 48px;
      img {
        margin-left: 12px;
        width: 24px;
        height: 24px;
      }
    }
    .title {
      flex-grow: 1;
      text-align: center;
      color: #000;

      font-family: Pretendard;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
    }
  }
  .proceed {
    display: inline-flex;
    padding: 24px 20px 20px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 12px;
      .stage-text {
        padding: 4px 12px;
        border-radius: 9999px;
        background: #ecebff;
        color: #6254f0;

        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
      }
      .title {
        color: var(--title, #0f1d33);
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
      }
    }
    .stage-img {
      img {
        width: 335px;
        height: 8px;
      }
    }
  }
  .notice {
    .notice-wrp {
      display: flex;
      padding: 10px 12px;
      margin: 0 20px 20px 20px;
      border-radius: 8px;
      border: 1px solid #d2ceff;

      background: #f1f0ff;
      color: var(--gray-80, #454545);
      font-family: Pretendard;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      .left {
        padding-top: 2px;
        img {
          width: 16px;
          margin-right: 6px;
        }
      }
    }
  }
  .notice-kakao {
    padding: 0 20px 20px 20px;
    color: #7a7a7a;

    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    strong {
      color: var(--gray-80, #454545);
      font-family: Pretendard;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
    }
  }
  .content {
    width: 100vw;
    height: calc(100vh - 188px);
    display: flex;
    flex-direction: column;
    .form {
      flex-grow: 1;
      display: inline-flex;
      padding: 32px 0px;
      flex-direction: column;
      // justify-content: center;
      // align-items: center;
      gap: 32px;
      background: #f0f1f6;
      overflow-y: scroll;
      .stage_01_top,
      .stage_01_bottom {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        gap: 23px;
        .content_01 {
          width: 100%;
          display: inline-flex;
          padding: 12px 0px;
          flex-direction: column;
          justify-content: center;
          gap: 20px;
          .content_02 {
            width: 100%;
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            gap: 8px;
          }
          .sub-title {
            padding: 0px 20px;
            color: var(--sub-t, #2e3348);
            font-family: Pretendard;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            strong {
              color: #e74133;

              font-family: Pretendard;
              font-size: 15px;
              font-style: normal;
              font-weight: 600;
            }
            .gray {
              color: #7a7a7a;

              font-family: Pretendard;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
            }
            .purple {
              color: #5d50e1;

              font-family: Pretendard;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
            }
            .must-matching-condition {
              display: flex;
              padding: 8px 0px;
              gap: 10px;
              color: var(--gray-80, #454545);
              font-family: Pretendard;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              .icon {
                img {
                  width: 16px;
                }
              }
            }
          }
          .add-btn {
            width: 32px;
            margin: 0px auto 0 auto;
            img {
              width: 32px;
              height: 32px;
            }
          }
          .sub-question-title {
            padding: 0px 20px;
            color: #061832;

            font-family: Pretendard;
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
          }
          .sub-desc {
            margin-top: 12.5px;
            font-size: 13px;
            color: #7a7a7a;
            padding-right: 5px;
          }
          .input-long {
            display: flex;
            margin: 0px 20px;
            height: 32px;
            padding: 8px 16px;
            justify-content: center;
            border-radius: 8px;
            border: 1px solid #ececec;
            background: #fff;
            // color: var(--gray-50, #a3a3a3);
            font-family: Pretendard;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            &.textarea {
              padding: 16px;
              height: 146px;
            }
          }

          .input-long:focus {
            outline: 1px solid #6254f0;
          }

          #DropdownBankName {
            width: calc(100% - 40px) !important;
            margin: 0px 20px !important;
            border: none;
          }

          .btn-select-wrp {
            margin: 0px 20px;
            display: flex;
            gap: 12px;
            .button-half {
              flex-basis: calc(50% - 8px);
              height: 44px;
              border-radius: 6px;
              border: 1px solid #eee;
              background: #fff;
              flex-shrink: 0;
              color: var(--gray-80, #454545);
              font-family: Pretendard;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 44px;
              text-align: center;
            }
            .selected {
              border-radius: 6px;
              border: 1px solid #6254f0;
              background: #fff;
              color: #061832;
              font-family: Pretendard;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
            }
            .file-select-btn {
              width: 102px;
              height: 100px;
              line-height: 100px;
              text-align: center;
              border-radius: 8px;
              border: 1px solid var(--color-warm-gray-wg-200, #e7e7e7);
              background: linear-gradient(0deg, #fff 0%, #fff 100%), #d9d9d9;

              div {
                display: inline-flex;
                padding: 6px 12px;
                justify-content: center;
                align-items: center;
                gap: 4px;
                border-radius: 99999px;
                background: #f3f3f3;
                color: #6254f0;

                font-family: Pretendard;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 16px;
              }
            }
            .img-grp {
              width: calc(100% - 120px);
              overflow-x: scroll;
              overflow-y: hidden;
              #postingImages {
                display: flex;
                gap: 12px;
                div {
                  // margin-left: 10px;
                  // margin-top: 10px;
                  width: 102px;
                  height: 100px;
                  .obj {
                    width: 102px;
                    height: 100px;
                    border-radius: 12px;
                    object-fit: cover;
                  }
                  .img-btn-grp {
                    height: 30px;
                    // display: flex;
                    // padding: 5px 10px 0px 60px;
                    margin-top: -120px;
                    .del {
                      margin-left: 85px;
                      margin-top: 15px;
                      width: 24px;
                      height: 24px;
                      z-index: 1;
                    }
                  }
                }
              }
            }
          }
          .round-btn-select-wrp {
            margin: 0px 20px;
            // display: inline-block;
            // gap: 12px;
            .button {
              // float: left;
              display: inline-flex;
              height: 40px;
              padding: 0px 24px;
              margin-bottom: 10px;
              margin-right: 12px;
              justify-content: center;
              align-items: center;
              flex-shrink: 0;
              border-radius: 9999px;
              background: #fff;
              color: #7a7a7a;
              font-family: Pretendard;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              border: 1px solid #eee;
            }
            .selected {
              border-radius: 9999px;
              border: 1px solid #6254f0;
              background: #fff;
              color: var(--gray-100, #181818);
              font-family: Pretendard;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
            }
          }
          .input-multiple-wrp {
            margin: 0px 20px;
            width: calc(100% - 40px);
            display: inline-flex;
            flex-direction: column;
            gap: 10px;
            .input-long-01 {
              // display: flex;
              // margin: 0px 20px;
              height: 32px;
              padding: 8px 16px;
              justify-content: center;
              border-radius: 8px;
              border: 1px solid #ececec;
              background: #fff;
              align-items: center;
              border-radius: 8px;
              border: 1px solid #ececec;

              background: #fff;
            }
            .input-long-01:focus,
            .input-half:focus {
              outline: 1px solid #6254f0;
            }
            .input-half-wrp {
              display: inline-flex;
              justify-content: center;
              gap: 10px;
              align-items: flex-start;
              .input-half {
                width: calc(100% - 18px);
                height: 44px;
                border-radius: 6px;
                border: 1px solid #ececec;
                background: #fff;
                font-family: Pretendard;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                padding-left: 14px;
              }
            }
          }
          .complete-notice {
            display: flex;
            border-radius: 8px;
            border: 1px solid #d2ceff;
            margin: 0px 20px;
            height: 36px;
            line-height: 36px;
            background: #f1f0ff;
            padding-left: 12px;
            color: var(--gray-80, #454545);
            font-family: Pretendard;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            .check-img-wrp {
              padding-top: 3px;
              img {
                width: 16px;
                margin-right: 6px;
              }
            }
          }
        }
      }
      .background {
        background: #e8e9ef;
        height: 8px;
      }
    }
    .btn-wrp {
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 4px 12px 0px rgba(0, 52, 138, 0.16),
        0px 0px 32px 0px rgba(54, 18, 155, 0.12);
      .prev {
        flex-grow: 1;
        height: 56px;
        flex-shrink: 0;
        background: #f3f5fb;
        color: #5d50e1;
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
        text-align: center;
      }
      .next {
        flex-grow: 1;
        height: 56px;
        background: var(--gray-50, #a3a3a3);
        color: #fff;
        font-family: Pretendard;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 56px;
        text-align: center;
        &.active {
          background: #5d50e1;
        }
      }
    }
  }
}
